<div class="tab-pane" id="input-siswa">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-solid box-primary">
        <!-- /.box-header -->
        <div class="box-header">
          <h3 class="box-title">
            Input Penilaian
          </h3>
        </div>
        <div class="box-body" style="margin: 5px;">
          <form role="form" action="/guru/matpel/keterampilan/input-nilai" method="POST">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nilai_akhir" class="control-label">Nilai Akhir</label>
                  <input type="number" name="nilai_akhir" class="form-control" id="nilai_akhir" required>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <input name="SiswaId" type="hidden" value="<%= siswa.id %>" />
              <input name="GuruId" type="hidden" value="<%= kelas_guru.GuruId %>" />
              <input name="KelasId" type="hidden" value="<%= kelas_guru.KelasId %>" />
              <input name="MatpelId" type="hidden" value="<%= cek_matpel.id %>" />
              <input name="TahunId" type="hidden" value="<%= kelas_guru.TahunId %>" />
              <button type="submit" class="btn btn-primary pull-left">
                Simpan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- informasi -->
    <!-- <div class="col-md-3">
      <div class="box box-solid box-primary"> -->
        <!-- /.box-header -->
        <!-- <div class="box-header">
          <h3 class="box-title">
            Informasi Bobot Penilaian
          </h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table id="tahun" class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>Nilai Harian</td>
                <td>60%</td>
              </tr>
              <tr>
                <td>Nilai UTS</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Nilai UAS</td>
                <td>20%</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div> -->

    <!-- informasi -->
    <div class="col-md-3">
      <div class="box box-solid box-primary">
        <!-- /.box-header -->
        <div class="box-header">
          <h3 class="box-title">
            Predikat Penilaian
          </h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table id="tahun" class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>88 - 100</td>
                <td>A</td>
              </tr>
              <tr>
                <td>74 - 87</td>
                <td>B</td>
              </tr>
              <tr>
                <td>60 - 73</td>
                <td>C</td>
              </tr>
              <tr>
                <td>
                  < 60</td> <td>D
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>